.btn {
  width: max-content;
  font-size: rem(12px);
  line-height: $input-height;
  white-space: nowrap;
  padding: 0 20px;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
  text-shadow: none;
  border: 0;
  position: relative;
  border-radius: 6px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  display: inline-block;
  @include st-transition();

  @include media-breakpoint-down(lg) {
    height: 50px;
    line-height: 50px;
  }

  &.btn-block,
  &.btn-fullwidth {
    width: 100% !important;
  }

  &.btn-purple {
    color: $white;
    background-color: $purple;
    font-weight: 600;
    padding: 27px;
    min-width: 150px;
    font-size: rem(18px);
    line-height: 0;

    @include media-breakpoint-up(md) {
      font-size: rem(22px);
      min-width: 225px;
    }

    @include media-breakpoint-up(xl) {
      line-height: 15px;
    }

    &:hover {
      background-color: $dark-purple;
    }
  }

  &.btn-transparent {
    color: $purple;
    background-color: transparent;
    font-weight: 600;
    padding: 27px;
    min-width: 150px;
    font-size: rem(18px);
    line-height: 0;

    @include media-breakpoint-up(md) {
      font-size: rem(22px);
      min-width: 225px;
    }

    @include media-breakpoint-up(lg) {
      line-height: 15px;
    }
  }

  &.btn-white {
    background-color: $white;
    font-weight: 600;
    padding: 15px;
    min-width: 90px;
    font-size: rem(12px);
    line-height: 0.5;
    min-width: 90px;

    @include media-breakpoint-up(md) {
      padding: 23px;
      font-size: rem(14px);
      line-height: 0;
    }

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}
